.shopcategory-banner {
  display: block;
  margin: 30px auto;
  width: 82%;

  @media screen and (max-width: 1100px) {
    margin-left: 5vw;
  }
}
.shopcategory-indexSort {
  display: flex;
  font-size: 18px;
  margin: 0px 12vw;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 1100px) {
    margin: 0px 10vw;
  }
}
.shopcategory-sort {
  padding: 10px 20px;
  border-radius: 40px;
  border: 1px solid #888;
}
.shopcategory-indexSort p span {
  font-weight: 600;
}
.shopcategory-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 20px 9vw;
  gap: 20px;
  row-gap: 25px;

  @media screen and (max-width: 1100px) {
    margin-left: 5vw;
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
.shopcategory-products .item {
  @media screen and (max-width: 768px) {
    width: 27vw;
  }
  /* height: 450; */
}

.shopcategory-products .item img {
  @media screen and (max-width: 768px) {
    width: 27vw;
  }
}
.shopcategory-loadmore {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px auto;
  width: 233px;
  height: 69px;
  border-radius: 75px;
  background: #ededed;
  color: #787878;
  font-size: 18px;
  font-weight: 500;
}
#tradition {
  width: 150px;
  font-size: 20px;
  padding: 10px;
  font-weight: 550;
  border-radius: 5px;
  color: rgb(231, 16, 203);
  border: 2px solid red;
}
