.navMobile {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  display: flex;
  height: 100vh;
  z-index: 5;
  background-color: rgb(255, 255, 255);
}
.navMobile-hide {
  display: none;
  width: 100vw;
}
.navMobile-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 75vw;
  padding-left: 10vw;
  background-color: rgb(255, 255, 255);
}
.top {
  min-height: 60vw;
  margin-left: -10vw;
  height: 66vw;
  width: calc(100% + 10vw);
  overflow-x: hidden;
  background-color: #035c53;
}
.wrapper {
  width: 100%;
  /* height: 100%; */
  display: flex;
}
.wrapper img {
  width: 100%;
  animation: slide 30s infinite;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  8% {
    transform: translateX(0);
  }
  13% {
    transform: translateX(-100%);
  }
  21% {
    transform: translateX(-100%);
  }
  26% {
    transform: translateX(-200%);
  }
  34% {
    transform: translateX(-200%);
  }
  39% {
    transform: translateX(-300%);
  }
  47% {
    transform: translateX(-300%);
  }
  52% {
    transform: translateX(-400%);
  }
  60% {
    transform: translateX(-400%);
  }
  65% {
    transform: translateX(-500%);
  }
  73% {
    transform: translateX(-500%);
  }
  99% {
    transform: translateX(0%);
  }
}
.home {
  font-size: 32px;
  font-weight: 800;
  gap: 25px;
  color: white;
  background-color: #035c53;
  height: 55px;
  padding: 5px;
  padding-left: 10vw;
  margin-top: -30px;
  margin-left: -10vw;
}
.home p {
  display: inline;
  font-size: 28px;
  margin-right: 20px;
}
.home div {
  color: white;
  /* padding-bottom: -5px; */
}
.navMobile-main hr {
  width: 90%;
  margin-top: -15px;
  display: none;
}
.topCategory {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 3vw;
  font-size: 20px;
  font-weight: 600;
  color: #035c53;
}
.topCategory h2 {
  margin-bottom: 10px;
  margin-left: -10px;
}

.navMobile-side {
  background-color: rgb(183, 186, 189, 0.6);
  /* opacity: 0.2; */
  background: white 0.2;
  width: 15vw;
  height: 100vh;
}
.navMobile-side .icon {
  font-size: 50px;
  text-align: center;
  border-radius: 50%;
  color: #035c53;
  background-color: white;
  max-width: 70px;
  height: 70px;
  margin-top: 18px;
  margin-left: 10px;
  @media screen and (max-width: 500px) {
    /* width: 10vw; */
    font-size: 40px;
    min-width: 30px;
    max-width: 50px;
    height: 50px;
    margin-top: 18px;
    margin-left: 5px;
    /* opacity: 1; */
    font-weight: 700;
  }
}
